<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Product</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Product Variant</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Product variant</li>
        </ol>
    </nav>

    <p>SSL0965 - PangananDotCom ID gw</p>

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb shadow">
            <li class="breadcrumb-item">Bundle</li>
        </ol>
    </nav>



    <div class="row my-4">
        <form>
            <div class="col-lg-8">
                <div class="card shadow border border-0">
                    <div class="card-body">
                        
                            <div class="form-group mb-3">
                                <label for="">Bundle Name</label>
                                <input type="text" class="form-control shadow" FormControlName="">
                            </div>
                            <div class="form-group mb-3">
                                <label for="">Bundle SKU No</label>
                                <input type="text" class="form-control shadow" FormControlName="">
                            </div>
                            <div class="form-group mb-3">
                                <label for="">Bundle RPP</label>
                                <input type="text" class="form-control shadow" FormControlName="">
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-4">
                                    <label for="">Category</label>
                                    <select name="" id="" class="form-control shadow">
                                        <option value="">Choose</option>
                                        <option value="">Choose 1</option>
                                        <option value="">Choose 2</option>
                                        <option value="">Choose 3</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="">Sub Category 1</label>
                                    <select name="" id="" class="form-control shadow">
                                        <option value="">Choose</option>
                                        <option value="">Choose 1</option>
                                        <option value="">Choose 2</option>
                                        <option value="">Choose 3</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="">Sub Category 2</label>
                                    <select name="" id="" class="form-control shadow">
                                        <option value="">Choose</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="">Brand</label>
                                <input type="text" class="form-control shadow" FormControlName="">
                            </div>
                            <div class="form-group mb-3">
                                <label for="">Brand Remark</label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control shadow"></textarea>
                            </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="col-md-1">
                    <button class="btn btn-block btn-light shadow border border-1"><i class="bi bi-check-circle"></i> Save</button>
                </div>
            </div>
        </form>

    </div>

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb shadow">
            <li class="breadcrumb-item">Bundle Detail</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow border border-0">
                <div class="card-body">
                    <div class="responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Client SKU No</th>
                                    <th>SKU Name</th>
                                    <th>Qty</th>
                                    <th>Price Plan</th>
                                    <th>Contribution (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-around">
                                        <h4 class="text-success" type="button"><i class="bi bi-save"></i></h4>
                                        <h4 class="text-danger" type="button"><i class="bi bi-trash3"></i></h4>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select name="" id="" class="form-control">
                                                <option value="">Choose</option>
                                                <option value="">Choose 1</option>
                                                <option value="">Choose 2</option>
                                                <option value="">Choose 3</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>SKU Name</td>
                                    <td>Qty</td>
                                    <td>Price Plan</td>
                                    <td>Contribution</td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-around">
                                        <h4 class="text-success" type="button"><i class="bi bi-save"></i></h4>
                                        <h4 class="text-primary" type="button"><i class="bi bi-check-circle"></i></h4>
                                        <h4 class="text-danger" type="button"><i class="bi bi-trash3"></i></h4>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select name="" id="" class="form-control">
                                                <option value="">Choose</option>
                                                <option value="">Choose 1</option>
                                                <option value="">Choose 2</option>
                                                <option value="">Choose 3</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>SKU Name</td>
                                    <td>Qty</td>
                                    <td>Price Plan</td>
                                    <td>Contribution</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-footer></app-footer>
    
</main>