<form class="mb-3 mt-md-4">
    <div class="mb-3">
      <label for="email" class="form-label ">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label ">Password</label>
      <input type="password" class="form-control" id="password" placeholder="*******">
    </div>

    <div class="d-grid">
      <button class="btn btn-block  btn-outline-primary" routerLink="/dashboard" type="submit">Login</button>
    </div>
  </form>

  <div>
    <p class="mb-0  text-center">Don't have an account? 
        <a href="/register" class="text-primary fw-bold">Register</a>
    </p>
  </div>