<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb shadow">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>

    <h2>Dashboard</h2>

    <div class="row my-4">
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="card shadow bg-info" style="color: white; border-radius: 20px;">
                <h5 class="card-header border border-0">Customers</h5>
                <div class="card-body border border-0">
                  <h5 class="card-title">120</h5>
                  <p class="card-text">30 December 2022</p>
                  <p class="card-text text-white">18.2% increase since last month</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card shadow bg-warning" style="color: white; border-radius: 20px;">
                <h5 class="card-header border border-0">Products</h5>
                <div class="card-body border border-0">
                  <h5 class="card-title">1200</h5>
                  <p class="card-text">30 December 2022</p>
                  <p class="card-text text-white">4.6% increase since last month</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card shadow bg-primary" style="color: white; border-radius: 20px;">
                <h5 class="card-header border border-0">Bundling</h5>
                <div class="card-body border border-0">
                  <h5 class="card-title">240</h5>
                  <p class="card-text">30 December 2022</p>
                  <p class="card-text text-white">2.6% decrease since last month</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card shadow bg-danger" style="color: white; border-radius: 20px;">
                <h5 class="card-header border border-0">Order</h5>
                <div class="card-body border border-0">
                  <h5 class="card-title">2000</h5>
                  <p class="card-text">30 December 2022</p>
                  <p class="card-text text-white">2.5% increase since last month</p>
                </div>
            </div>
        </div>
    </div>

    
    
</main>